<form method="post" asp-action="Import" asp-controller="Import" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <label for="file" class="form-label">Select file - (Supported formats are - .json!)</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary mb-4">Upload</button>
        </div>
    </div>
</form>


