@model PropertyViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
@*
    @foreach (var item in Model.Images)
    {
        <img src="@item.Content" alt="@item.Name" />
    }*@
</div>
