@model BasePropertyModel

<h1 style="font-size:large">
    <label>
        @this.translateService.TranslateTo(CurrentSystemLanguage, nameof(BaseLanguage.Price))
    </label>
</h1>
<input asp-for="Price" class="form-control"
       placeholder="@this.translateService.TranslateTo(CurrentSystemLanguage, nameof(BaseLanguage.PriceInEUR))" />
<span asp-validation-for="Price" class="text-danger"></span>
