@model PropertyEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 offset-sm-3">
            <form class="form-group" method="post">
                <div class="title-box-d offset-4">
                    <h3 class="title-d"> @ViewData["Title"]</h3>
                </div>
                <div asp-validation-summary=All class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                @*Type*@
                <vc:Property-Type model="@Model"></vc:Property-Type>
                <br />
                <vc:Locations model="@Model"></vc:Locations>
                <br />

                @*PopulatedPlace*@
                <partial name="_PopulatedPlacePartial" />
                <br />

                @*Details*@
                <partial name="_PropertyDetailsPartial" />

                <br />
                <br />

                @*Building types*@
                <h1 style="font-size:large">Building Type</h1>
                <div class="row">
                    @for (int i = 0; i < Model.BuildingTypes.Count(); i++)
                    {
                        <div class="col">
                            <label class="form-check-label">@Model.BuildingTypes[i].Name</label>
                            @*
                        TODO: If clicked 2 building types then we have a bug!
                        *@
                            @if (Model.BuildingTypes[i].IsChecked)
                            {
                                <input asp-for="BuildingTypes[i].IsChecked" class="form-check-input" checked />
                            }
                            else
                            {
                                <input type="checkbox" asp-for="BuildingTypes[i].IsChecked" class="form-check-input" />
                            }
                            <input type="hidden" asp-for="BuildingTypes[i].Id" />
                            <input type="hidden" asp-for="BuildingTypes[i].Name" />
                        </div>
                    }
                    <br />
                    <br />
                </div>
                <br />
                <br />

                @*Description*@
                <partial name="_PropertyDescriptionPartial" />
                <br />
                <br />

                <div class="form-group">
                    <h1 style="font-size:large"><label asp-for="Option"></label></h1>
                    @if (Model.Option == PropertyOptionModel.Sale)
                    {
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="Option" id="Option" value="sale" checked>
                            <label class="form-check-label">Sale</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="Option" id="Option" value="rent">
                            <label class="form-check-label">Rent</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="Option" id="Option" value="sale">
                            <label class="form-check-label">Sale</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="Option" id="Option" value="rent" checked>
                            <label class="form-check-label">Rent</label>
                        </div>
                    }

                </div>
                <br />
                <div class="col-3">

                    @*Price*@
                    <h1 style="font-size:large"><label asp-for="Price"></label></h1>
                    <input asp-for="Price" class="form-control" placeholder="Set price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <br />

                @*Expiration Date*@
                @if (Model.IsExpired)
                {
                    <div class="col-3">
                        <h1 style="font-size:large"><label>Activate for</label></h1>
                        <select class="form-select" asp-for="ExpirationDays">
                            <option value="0">0 days</option>
                            <option value="30">30 days</option>
                            <option value="60">60 days</option>
                            <option value="90">90 days</option>
                        </select>
                        <span asp-validation-for="ExpirationDays" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="col-3">
                        <h1 style="font-size:large"><label asp-for="ExpirationDays"></label></h1>
                        <select class="form-select" asp-for="ExpirationDays">
                            <option value="0">+0 days</option>
                            <option value="30">+30 days</option>
                            <option value="60">+60 days</option>
                            <option value="90">+90 days</option>
                        </select>
                        <span asp-validation-for="ExpirationDays" class="text-danger"></span>
                    </div>
                }
                <br />

                @*Buttons*@
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="container py-3">
                            <div class="input-group custom-file-button">
                                <label class="input-group-text" for="inputGroupFile">Your Custom Text</label>
                                <input type="file" class="form-control" id="inputGroupFile">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button asp-controller="Property" asp-action="Edit" type="submit" class="btn btn-b">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>