<br />
<br />
<br />
<br />
<br />
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Successfully added the property.</h4>
    <hr>
    <div class="row">
        <a asp-controller="Property" asp-action="Add" class="text-center text-decoration-underline color-b">Add new Property</a>
        <a asp-controller="Home" asp-action="Index" class="text-center text-decoration-underline color-b">Return to Home page</a>
    </div>
</div>
