@model PropertyViewModel



<form method="post" enctype="multipart/form-data">
    <div class="form-group">
         <label asp-for="Type"></label>
        <select class="form-control">
           @foreach (var item in Model.PropertyTypeViewModels)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">More Info</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="sale" checked>
        <label class="form-check-label" for="exampleRadios1">Sale</label>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="rent">
        <label class="form-check-label" for="exampleRadios2">Rent</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Attachment(s)
            (Attach multiple files.)
        </label>
        <span>Select Images:</span>
        <input type="file" name="images" multiple/>
        <hr />
        <button type="submit" class="btn btn-primary mb-4">Upload</button>
        <br />
        <span style="color:green">@TempData["Message"]</span>
    </div>
</form>