<form method="post" enctype="multipart/form-data">
    <div class="offcanvas-start">
        <div class="md-4">
            <label for="formFile" class="form-label">Select file</label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <br>
        <button type="submit" class="btn btn-primary mb-4">Upload</button>
    </div>
</form>