
        <div class="form-group">
            <input type="text" class="form-control" list="select-list-id" />
        </div>
        <datalist id="select-list-id">
            <option value="What was your childhood nickname?"></option>
            <option value="In what city did you meet your spouse/significant other?"></option>
        </datalist>